.profile-screen{
    height: 100vh;
    color: #fff;
}
.profile-screen-body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}
.profile-screen-info {
    display: flex;
}
.profile-screen-info > img {
    height: 100px;
}
.profile-screen-body > h1 {
    font-size: 4vw;
    font-weight: 400;
    margin-bottom: 20px; 
    border-bottom: 1px solid #282c2d;
}
.profile-screen-details {
 margin-left: 25px;
 flex: 1;
}

@media screen and (max-width: 800px) { 
    .profile-screen-body > h1 {
        font-size: 40px;
        text-align: center;
    }
    .profile-screen-info{
        display: flex;
        flex-direction: column;
    }
    .profile-screen-info > img {
        height: 100%;
        margin-bottom: 50px;
    }
    .profile-screen-details {
        margin-left: 0px;
    }
}

.profile-screen-details > h2 {
    font-size: calc(10px + 0.5vw);
    background-color: gray;
    padding: 15px;
    padding-left: 20px;
}
.profile-plans > h3 {
    font-size: calc(12px + 0.65vw);
    margin-bottom: 15px;
    margin-top: 10px;
    border-bottom: 1px solid #282c2d;
}
.profile-plans > h4 {
    font-size: calc(10px + 0.5vw);
    color: rgb(117, 117, 117);
}
.sign-out-btn{
    padding: 18px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    background-color: #e50914;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.profile-subscription-plan > p {
    font-size: calc(8px + 0.6vw);
}
.profile-subscription-plan > p > span {
    font-size: calc(6px + 0.6vw);
}
.profile-subscription-plans{
    margin-left: 20px;
}
.profile-subscription-plan:hover{
    opacity: 1;
}
.profile-subscription-plan{
    display: flex;
    opacity: 0.8;
    align-items: center;
    justify-content: space-between;
}
.subscribe-btn{
    background-color: #e50914;
    color: white;
    padding: 10px 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.current-btn {
    background-color: gray;
}
